<p id="notice"><%= notice %></p>

<h1>Visitors</h1>

<% if @visitors.blank? %>
<p>No vistors yet!</p>
<% else %>
<table>
  <thead>
    <tr>
      <th>IP Address</th>
      <th>Number of Visits</th>
    </tr>
  </thead>

  <tbody>
    <% @visitors.each do |visitor| %>
      <tr>
        <td><%= visitor.ip_address %></td>
        <td><%= visitor.no_of_visits %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>


<br>

<%= link_to 'Back', shortened_urls_path %>
